<ion-header>

  <custom-logged-header [title]="'User Profile'"></custom-logged-header>

</ion-header>

<ion-content padding>

  <user-info [user]="currentUser"></user-info>

  <button ion-button block (click)="canEdit = !canEdit">Edit</button>

  <form (ngSubmit)="onSubmit($event)" *ngIf="canEdit" #profileForm="ngForm">

    <ion-item>
      <ion-icon name="person" item-left></ion-icon>
      <ion-input type="text" name="name" placeholder="Name" [(ngModel)]="currentUser.name" required minlenght="3"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="at" item-left></ion-icon>
      <ion-input type="text" name="username" placeholder="Username" [(ngModel)]="currentUser.username" required minlenght="3"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="image" item-left></ion-icon>
      <input type="file" accept=".jpg,.png" (change)="onPhoto($event)">
    </ion-item>

    <progress-bar *ngIf="uploadProgress" [progress]="uploadProgress"></progress-bar>

    <br>
    <button type="submit" ion-button block [disabled]="profileForm.form.invalid">Save</button>
  </form>

</ion-content>
